*{
        /* RESET ; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.img{
    max-width: 100%;
}
/* FINE RESET */


/* COMMON */

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.col {
    padding: 30px;
    border: 1px solid blue;
    flex-direction: row;
    margin: 10px 0;
}

.flex{
    min-height: 100px;
        display: flex;
        height: 30%;
}

.button{
    display: inline-block;
    border-radius: 30px;
    padding: 5px;
}

p{
    margin-top: 20px;
    color: white;
 }

 .p-black{
    margin-top: 20px;
    color: black;
    margin-top: 50px;
 }

 .h-black{
    color: black;
    font-size: 48px;
    margin-top: 30px;
 }

    /* FINE COMMON */
  
 .header{
     background-color:blue;
     height: 80px;
     display: flex;
     padding: 15px;
     align-items: center;
 }

 .container-1{
    width: 80%;
    max-width: 1000px;
    margin: 150px 300px;
    padding: 100px;
}

 .footer{
    background-color: black;
    height: 60px;
    padding: 10px; 10px;
 }

 h1{
    color: white;
    margin-left: 50px;
    font-size: 48px;
 }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.endbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    justify-content: space-between;
}

a{
    margin: 5px;
    text-decoration: none;
    color: white;
}

.a-black{
    color: black;
}

ul{
display: flex;
list-style: none;
justify-content: space-between;
}

.button-bar{
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
    padding: 20px;
}

.button-link{
    background-color: white;
    display: inline-block;
    border-radius: 30px;
    padding: 5px;
    margin-right: 10px;

}

.button-discord{
display: inline-block;
background-color: black;
border-radius: 30px;
padding: 5px;
margin-left: 10px;
}

.background{
    background-color: blue;
    padding: 5px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
}

.background-2{
    background-color: white;
    padding: 10px;
}

.background-3{
    background-color: lightgray;
    padding: 10px;
    height: 500px;
}

.background-4{
    padding: 10px;
}

.background-5{
    background-color: lightgray;
    padding: 10px;
}

.background-6{
    background-color: black;
    padding: 10px;
    border-bottom: 1px solid white;
}

.big-logo{
    display: flex;
}

.col-1{
    flex-direction: column;
}

.col-2{
width: 65%;
background-size: cover;
}

.col-3{
    width: 35%;
}

.col-4{
    width: 30%;
}

.col-5{
    width: 70%;
}

.col-6{
    width: 65%;
}

.col-7{
    width: 35%;
}


.col-8{
    width: 100%;
display: flex;
flex-direction: column;
}

.col-9{
    background-color:yellow;
    width: 60%;

;
}

.col-10{
    background-color:rebeccapurple;
    width: 10%;
}

.col-11{
    background-color: forestgreen;
    width: 10%;
}

.col-12{
    background-color:yellowgreen;
    width: 10%;
}

.col-13{
    background-color:seagreen;
    width: 10%;
}

